name: PR Review Workflow
on: 
 pull_request:
  branches: [main]
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build the Docker image
        run: docker build -f Dockerfile -t my-image-name:$(date +%s) .
