name: PR Review Workflow
on:
 pull_request:
  branches: [main]
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
      - name: Check out code
        uses: actions/checkout@v3
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build Docker image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/pr-review-system:${{github.sha}} .
      - name: Push Docker image
        run: docker push ${{secrets.DOCKERHUB_USERNAME}}/pr-review-system:${{github.sha}}
 deploy:
  runs-on: ubuntu-latest
  needs: build
  steps:
      - name: Deploy to production
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USERNAME}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          script: |
            docker pull ${{secrets.DOCKERHUB_USERNAME}}/pr-reivew-system:latest
            docker stop pr-reivew-system|| true
            docker rm pr-reivew-system || true
            docker run -d -p 80:80 --name myapp ${{secrets.DOCKERHUB_USERNAME}}/pr-reivew-system:latest
 
        
