name: PR Review Workflow
on:
 pull_request:
  branches: [main]
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
      - name: Check out code
        uses: actions/checkout@v3
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build Docker image
        run: dcoker build -t ${{secrets.DOCKERHUB_USERNAME}}/pr-review-system:latest .
      - name: Push Docker image
        run: dcoker push ${{secrets.DOCKERHUB_USERNAME}}/pr-review-system:latest
        
